{#
/**
 * @file zoom-on-hover.html.twig
 * Default theme implementation to present images for the zoom_on_hover
 *
 * Available variables:
 * - images: Formatted images based on the field formatter options that were set.
 */
 #}
 {% if images is not empty %}
 	{% for i, image in images %}
 		<div class="xzoom-container {{ image.image_wrapper_class }}">
 			<img class="xzoom {{ image.image_class }}" src="{{ image.image_style_url }}" xoriginal="{{ image.image_url }}"
 			data-image-zoom-style = {{ image.image_zoom_style }}
 			data-image-position = {{ image.image_position }}
 			data-defaultScale = {{ image.defaultScale }}
 			data-scroll = {{ image.scroll?'true':'false' }}
 			data-tint = {{ image.tint }}
 			data-zoom-preview-dimension = {{ image.preview_box_dimension }}
 			{% if image.preview_box_dimension == 'custom' %}
 				data-preview-width = {{ image.box_width }}
 				data-preview-height = {{ image.box_height }}
 			{% endif %}
 			/>
 		</div>
 	{% endfor %}
 {% endif %}
